#canvas1{

    border: 5px solid black;
    position: absolute; /*if parent element has position relative and child element 
    has position absolute then we can vary the child element's position relative to
    the parent element's position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px ;
    height: 600px;

}